<header class="bef bef-bg-honey">
  <div class="bef bef-d-flex fleDir-row bef-p-0_5rem aliIte-center">
    <h4 class="bef bef-m-0">Road Map 2 U</h4>
    <div class="bef bef-w-80px"></div>
    <div class="bef bef-w-650px bef-d-flex fleDir-row jusCon-around">
      <button class={{buttonClasses}} (click)="renderOptions('current')">Current</button>
      <button class={{buttonClasses}} (click)="renderOptions('future')">Future</button>
      <button class={{buttonClasses}} (click)="renderOptions('completed')">Completed</button>
      <button class={{buttonClasses}} (click)="renderOptions('clock')">Clock</button>
      <button class={{buttonClasses}} (click)="renderOptions('paused')">Paused</button>
    </div>
  </div>
</header>

<ng-template #currentTemplate>
  <div class="bef bef-d-flex fleDir-row bef-p-0_5rem aliIte-center jusCon-around">
    <button class={{dropButtonClasses}}>Iniciar Trabajo</button>
    <button class={{dropButtonClasses}}>Finalizar Trabajo</button>
    <button class={{dropButtonClasses}}>Editar Trabajo</button>


  </div>
</ng-template>

<ng-template #futureTemplate>
  <div>Future Content</div>
</ng-template>

<ng-template #completedTemplate>
  <div>Completed Content</div>
</ng-template>

<ng-template #clockTemplate>
  <div>Clock Content</div>
</ng-template>

<ng-template #pausedTemplate>
  <div>Paused Content</div>
</ng-template>

@if(currentTemplateRef) {
  <ng-container *ngTemplateOutlet="currentTemplateRef"></ng-container>
}

